# Torch
torch==2.0
cmake
torch_geometric==2.3.1
pytorch_lightning==2.0.8

# latest Graphein
# graphein @ git+https://github.com/a-r-j/graphein.git@master
graphein==1.7.6

# Forked equiformer to get attention coefficients
equiformer-pytorch @ git+https://github.com/anton-bushuiev/equiformer-pytorch.git@main

# Training dependencies
wandb
hydra-core
hydra-submitit-launcher

# Install mutils and PPIRef
mutils @ git+https://github.com/anton-bushuiev/mutils.git@main
ppiref @ git+https://github.com/anton-bushuiev/PPIRef.git@main
